body {
  background-image: linear-gradient(to bottom right, #56466b, #f3f3f3);
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  font-family: 'Noto Sans', sans-serif; 
  color: deeppurple;
}

.App {
  background: grey;
  text-align: center;
  color: blue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  display: flex;
  flex-direction: column;
}
.map { 
  top: 0; 
  bottom: 0; 
  width: 100%; 
  height: 100%;
};

#menu {
  background: #fff;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  z-index: 10;
  }



  /*Dark mode: gradient: 
  background-image: linear-gradient(to bottom right, #6d5775, #000000);
  */