body {
  background-image: linear-gradient(to bottom right, #0f4735, #29354b);
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  font-family: 'Noto Sans', sans-serif; 
  color: deeppurple;
}

nav {
  font-family: 'Beth Ellen', cursive;
}

button {
  background: none;
}

.App {
  background: none;
  margin: auto;
  color: rgb(159, 159, 161);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  display: flex;
  flex-direction: column;
}
.map { 
  top: 0; 
  bottom: 0; 
  width: 100%; 
  height: 100%;
};

#menu {
  background: #fff;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  z-index: 10;
  }


/* Grid display for splash page */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* Just to make the grid visible */

.grid > * {
  background: rgba(0,0,0,0.1);
  border: 1px white solid;
}


  /*Dark mode: gradient: 
  background-image: linear-gradient(to bottom right, #6d5775, #000000);
  */