[Desktop Entry]
Encoding=UTF-8
Name=Link to spotify-badge-button.png4 kB PNG — Click to view
Type=Link
URL=https://lighthouse-students.slack.com/files/UMWA0508J/FQRH9CJRY/spotify-badge-button.png?origin_team=T2G8TE2E5&origin_channel=GPYEQGBJA
Icon=text-html
