body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  @media only screen and (min-width: 700px) {
    background: linear-gradient(to bottom right, #f3eeff, #15055d) fixed;
    margin-top: 50px;
  }
}

.trackitem {
  background: linear-gradient(to bottom right, #8f70a3, #391950);
  display: flex;
  flex-direction: column;
  align-content: left;
  height: 150px;
  border-radius: 5px;
  color: white;
  opacity: 0.9;
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;

  @media only screen and (min-width: 700px) {
    width: 45vw;
    height: 175px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 15px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.track-text {
  font-size: 16px;
  margin: 5px;
  line-height: 1.8;

  @media only screen and (min-width: 1280px) {
    font-size: 14px;
    margin: 10px;
  }
}

.likes {
  font-size: 14px;
  margin-top: 5px;
}

.current-track-image {
  /* height: 75px;
  width: 75px; */
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 10px;
}

.spotify-badge{
  width: auto;
  height: 40px;
}

.liked-track {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: -10px;
}

.user-preview {
  width: auto;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  border-color: #8f27db;
  margin-top: 5px;
  font-size: 10px;
  display: flex;
  color: white;
  display: inline-flex;
  align-items: center;
}

.track-buttons {
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  // margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.signal-icon{
  padding-right: 10px;
}

.like-button {
  background-color: transparent;
  border-color: transparent;
  width: auto;
  height: auto;
  margin-left: -10px;
}

.spotify-button {
  margin: auto;


}
